<!-- views/createUser.ejs -->
<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <%- include("partials/errors.ejs") %>
        <form action="/create" method="GET">
            <label for="firstName">First Name: </label>
            <input type="text" name="firstName" id="firstName" required>
            <label for="lastName">Last Name: </label>
            <input type="text" name="lastName" id="lastName" required>
            <button type="submit">Submit</button>
        </form>
        <form action="/search" method="GET">
            <label for="fNameSearch"></label>
            <input type="text" name="fNameSearch" id="fNameSearch" required>
            <button type="submit">Search</button>
        </form>
        <a href="/">Back to home</a>

</body>

</html>